@model WebApplication2.Models.User
<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email" placeholder="Enter Username" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PasswordHash">Password</label>
        <input type="password" asp-for="PasswordHash" placeholder="Enter Your Password" class="form-control" />
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Login" />
   
</form>
<span>
    Account Not Exists
    <a asp-action="Register" asp-controller="Account">Register</a>
</span>